<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Journal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="{{ url_for('home') }}" class="branding">Journal</a>
                <ul class="nav-menu">
                    <li class="nav-item">
                        <a href="{{ url_for('about') }}" class="nav-link">About</a>
                    </li>
                    {% if 'user_id' in session %}
                        <li class="nav-item">
                            <a href="{{ url_for('profile', username=session['username']) }}" class="nav-link">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{{ url_for('signup') }}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
                        </li>
                    {% endif %}
                </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <div class="main-content">
    </div>
    <script src="{{ url_for('static', filename='assets/js/script.js') }}"></script>
</body>
</html>